doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/00_layouts.md
      include ../slides/01_intro.md
      include ../slides/02_module-0.md
      include ../slides/03_module-1.md
      include ../slides/04_module-1-summary.md
      include ../slides/13_wrapping-up.md
      include ../slides/14_outro.md
    include inc/scripts
