doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/00_layouts.md
      include ../slides/01_title.md
      include ../slides/02_setup.md
      include ../slides/03_about.md
      include ../slides/04_history.md
      include ../slides/05_react.md
      include ../slides/06_javascript.md
      include ../slides/07_components.md
      include ../slides/08_components_react.md
      include ../slides/09_components_react_jsx.md
      include ../slides/10_props.md
      include ../slides/11_css.md
      include ../slides/12_routing.md
      include ../slides/13_state.md
      include ../slides/14_events.md
      include ../slides/15_lifecycle.md
      include ../slides/16_app_state.md
      include ../slides/18_testing.md
      include ../slides/19_good_practices.md
      include ../slides/20_outro.md
    include inc/scripts
