$brand = #051c22
$brand-alt = #051c22
$brand-dark-gray = #5b5149;
$brand-light-gray = #a69b91;
$brand-white-text = #fdfcfc
$brand-context = #9b5527

$brand-alt-light = lighten($brand-light-gray, 90%)
$brand-highlight = lighten($brand-alt-light, 60%)


$font = "Catamaran"
$code-font = "Ubuntu Mono"

$context-current = $brand-context
$context-current-minus-one = desaturate($brand-context, 40%)
$context-current-minus-two = desaturate($brand-context, 80%)
